<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.postclass.chordtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">

            <!-- android:parentActivityName=".ParentActivity"> -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="jp.postclass.chordtraining.activity.MainActivity" /> -->
        </activity>
        <activity android:name=".activity.Qa1Activity" />
        <activity
            android:name=".activity.ReferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_reference"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.BookSelectActivity" />
        <activity
            android:name=".activity.BookReadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_book_view"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>